In [13]:
#보건복지부 코로나19 감염 현황 데이터 크롤링

import requests

serviceKey = "CLdvNcT3qtVeZJhdmUX5rlqieOMvkG2u2ehQPt3mgmou6mJeWuhgVisNt5zG7wYj3HCy1dGRLlq5e7qJf7hqwQ=="
url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson'
params ={'serviceKey' : serviceKey, 
         'pageNo' : '1', 
         'numOfRows' : '10', 
         'startCreateDt' : '20200310', 
         'endCreateDt' : '20200315' }

response = requests.get(url, params=params)
print(response.content)

b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>99</resultCode><resultMsg>SERVICE KEY IS NOT REGISTERED ERROR.</resultMsg></header></response>'

In [14]:
print(response)

<Response [200]>

In [98]:
# 코로나19 예방접종 통계 데이터 크롤링
# 
import requests
import json
import pandas as pd
from urllib import parse
from datetime import datetime, timedelta

serviceKey2 = "CLdvNcT3qtVeZJhdmUX5rlqieOMvkG2u2ehQPt3mgmou6mJeWuhgVisNt5zG7wYj3HCy1dGRLlq5e7qJf7hqwQ=="
url = 'https://api.odcloud.kr/api/15077756/v1/vaccine-stat'


#데이터 수집 기간 리스트화
def date_range(start, end):
    global dates
    start = datetime.strptime(start, "%Y-%m-%d")
    end = datetime.strptime(end, "%Y-%m-%d")
    dates = [(start + timedelta(days=i)).strftime("%Y-%m-%d 00:00:00") for i in range((end-start).days+1)]
    return dates

#일자별 전국기준 코로나 백신 접종 데이터 크롤링
def data_request(dates):
    datalist=[]
    for i in dates:
        query = [('cond[sido::EQ]', '전국'), ('cond[baseDate::EQ]', i)]
        query_param = url + '?' + parse.urlencode(query) + '&serviceKey=' + serviceKey2
        r = requests.get(query_param).text
        trans_json = json.loads(r)
        #if r.status_code != 200:
        #    err_msg = '%d, %s' %(r.status_code, r.reason)
        #    raise Exception(err_msg)
        datalist.append(trans_json)        
    return datalist

# json파일을 데이터프레임화
def to_DataFrame(dates):
    rows=[]
    for i in range(0, (len(dates)-1)):
        row=[]
        row.append(data[i]['data'][0]['accumulatedFirstCnt'])
        row.append(data[i]['data'][0]['accumulatedSecondCnt'])
        row.append(data[i]['data'][0]['accumulatedThirdCnt'])
        row.append(data[i]['data'][0]['baseDate'])
        row.append(data[i]['data'][0]['firstCnt'])
        row.append(data[i]['data'][0]['id'])
        row.append(data[i]['data'][0]['secondCnt'])
        row.append(data[i]['data'][0]['sido'])
        row.append(data[i]['data'][0]['thirdCnt'])
        row.append(data[i]['data'][0]['totalFirstCnt'])
        row.append(data[i]['data'][0]['totalSecondCnt'])
        row.append(data[i]['data'][0]['totalThirdCnt'])
        rows.append(row)
        
    df = pd.DataFrame(rows, columns=col_name)
    return df

def to_excel(dataframe):
    writer = pd.ExcelWriter('C:\\Users\\min\\Downloads\\df.xlsx', engine='xlsxwriter')
    dataframe.to_excel(writer, sheet_name='Sheet1')
    writer.close()

In [103]:
dates = date_range("2021-03-11", "2021-11-06")
data = data_request(dates)

In [104]:
to_DataFrame(data)

,accumulatedFirstCnt,accumulatedSecondCnt,accumulatedThirdCnt,baseDate,firstCnt,id,secondCnt,sido,thirdCnt,totalFirstCnt,totalSecondCnt,totalThirdCnt
0,449535,0,0,2021-03-11 00:00:00,51100,1,0,전국,0,500635,0,0
1,503750,0,0,2021-03-12 00:00:00,42527,19,0,전국,0,546277,0,0
2,547974,0,0,2021-03-13 00:00:00,35684,37,0,전국,0,583658,0,0
3,584397,0,0,2021-03-14 00:00:00,3487,55,0,전국,0,587884,0,0
4,587884,0,0,2021-03-15 00:00:00,1074,73,0,전국,0,588958,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
235,41136056,38660848,81224,2021-11-01 00:00:00,2736,4237,20354,전국,193,41138792,38681202,81417
236,41141814,38686286,81896,2021-11-02 00:00:00,82747,4255,118436,전국,34010,41224561,38804722,115906
237,41227277,38808119,116364,2021-11-03 00:00:00,42176,4273,87113,전국,55974,41269453,38895232,172338
238,41271990,38898040,172987,2021-11-04 00:00:00,64307,4291,75539,전국,56585,41336297,38973579,229572
239,41338564,38976091,230262,2021-11-05 00:00:00,60047,4309,123194,전국,44331,41398611,39099285,274593

In [102]:
to_excel(df)